form{
    padding: 4em;
    background-color: var(--color-secondary);
    color: var(--color-accent);
    font-weight: 700;
    width: 30em;
    text-align: center;
    margin-right:25%;
    margin-left:25%;
    text-align: center;
}
button{
    text-align: right;
}
label{
    padding: 2em;
}

