
  <mat-sidenav mode="side" opened [class.expanded]="isExpanded" [class.collapsed]="!isExpanded">

    <div class="toggle-btn">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.id){
      <a mat-list-item
         href="item.route"
         [matTooltip]="!isExpanded ? item.label : ''"
         matTooltipPosition="right">
        

        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>

        <!-- Label only shows when expanded -->
       @if (isExpanded) {
        <span matListItemTitle>{{ item.label }}</span>
        }
      
      </a>
    }
    </mat-nav-list>

  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
