.sidenav-container {
  height: 100%;
}

mat-sidenav {
  transition: width 0.3s ease;
  overflow: hidden;

  &.expanded {
    width: 10%;
  }

  &.collapsed {
    width: 3%;
  }
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

