@font-face {
  font-family: Forevs;
  src: url("/src/assets/fonts/ForevsDemo-Super.otf");
}

:root {
  --color-primary: #1a1a17;
  --color-secondary: #353535;
  --color-accent: #b00020;
  --color-background: #2b2b2b;
  --color-danger: #b00020;
}

html{
  background-color: var(--color-background);
}
body{
  color-scheme: dark;
}

h1,h2,h3,h4,h5,h6{
  color: var(--color-accent);
  font-weight:700;
}
a{
  color: var(--color-accent);
  font-weight: 700;
}