/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

}

mat-sidenav-container{
    position:static;
}
.mat-drawer-container {
  position: static;
}