  <mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened [class.expanded]="isExpanded" [class.collapsed]="!isExpanded">

    <div class="toggle-btn">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon class="menu-icon">{{ isExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      
      @for (item of routes; track $index){
      <a mat-list-item
        [routerLink]= "[item.path]" 
        routerLinkActive="active"
        [matTooltip]="!isExpanded ? item.title : ''"
        matTooltipPosition="right">
        
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        @if (isExpanded) {
        <span matListItemTitle><b>{{ item.title }}</b></span>
        }
      
      </a>
    }
    
    </mat-nav-list>

  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>
  </mat-sidenav-container>
