sidenav-container {
  height: 100%;
}

mat-sidenav-container{
  height: 100%
}

mat-sidenav {
  transition: width 0.3s ease;
  overflow: hidden;

  &.expanded {
    width: 11em;
  }

  &.collapsed {
    width: 4em;
  }
  border-color: var(--color-accent);
  border-width: 0.2em;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  padding-left: 3em;
  background-color: var(--color-primary);
  border-width: 0;
}

/* .menu-icon {
  color: var(--color-accent);
  background-color: var(--color-primary);

} */

mat-nav-list a {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

mat-sidenav-container{
  background-color: var(--color-background);
}

mat-nav-list{
  font-family: Forevs;
  color: var(--color-accent);
}

/* mat-sidenav{
  background-color: var(--color-secondary);
  font-family: Forevs;
  
} */

mat-sidenav-content{
  text-align: center;
}


mat-icon-button{
    border-width: 0;
} 
